<div class="container">
    <div class="title">
      <h3>Hi {{CurrentUserName}}</h3>
    </div>
    <!-- <img src="../../../assets/404.svg" id="profileImg" width="80px" height="80px" /> -->
    <!-- <input type="file" id="profileImgUpload" (change)="Preview($event)" /> -->
    <div class="form">
      
      <input class="input-field" [(ngModel)]="UserInfo.userName" placeholder="Username" type="text" pInputText />
      <input class="input-field" [(ngModel)]="UserInfo.displayName" placeholder="Full name" type="text" pInputText />
      <input class="input-field" [(ngModel)]="UserInfo.email"  placeholder="Email" type="text" pInputText />
      <input class="input-field" [(ngModel)]="UserInfo.password"  placeholder="Password" type="text" pInputText />
      <input class="input-field" [(ngModel)]="confPassWord"  placeholder="Confirm Password" type="text" pInputText />
    </div>
    <div class="button-group">
      <button style="width: 100px;font-size: larger;" class="p-button p-button-warning" (click)="editUserInfo()" >Edit</button>
      <!-- <button class="p-button p-button-danger">Danger</button> -->
    </div>
  </div>
  
  <p-toast></p-toast>