<div class="surface-card m-4 p-4 shadow-2 border-round mb-2">
    <div class="flex align-items-center justify-content-between">
        <div class="text-3xl font-medium text-900 mb-3">Let's find a solution for your Bug</div>
        <p-button label="Refresh" (click)="getBugs()" styleClass="p-button-help"></p-button>
    </div>

    <div class="card">
        <div class="flex-auto w-full shadow-5 p-4 border-round-xl border-2 border-dashed surface-border">

            <input id="float-input" type="text" [(ngModel)]="searchText" placeholder="Search a Solution..." pInputText />

        </div>

        <div class="flex-auto w-full shadow-5 mt-4 p-4 border-round-xl border-2 border-dashed surface-border">

            <div class="container">
                <div *ngFor="let bug of listBugs | filter: searchText | paginate: { itemsPerPage: 8, currentPage: p } " style="position: relative;" class="item ">

                    <div class="card_container">
                        <div class="img_container">
                            <img [src]="bug.bugImgUrl" />
                        </div>
                        <div class="card__body">
                            <h4 class="mb-3">{{bug.title}}</h4>
                            <p>{{ bug.bugDesc }}</p>
                        </div>
                        <div class="card__footer">
                            <div class="user">
                                <button (click)="SeeMore(bug)" style="background-color: #3f9fef; border: none; padding: 5px; border-radius: .5em; color: white;">See More</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <pagination-controls (pageChange)="p = $event"></pagination-controls>

        </div>
    </div>
</div>

<p-dialog header="Header" [(visible)]="showModel" [modal]="true" [style]="{width: '90vw'}">
    <app-manage-bugs [data]="myBug"></app-manage-bugs>
</p-dialog>
