<div class="surface-card m-4 p-4 shadow-2 border-round">
    <div class="text-3xl font-medium text-900 mb-3">Let's find a solution for your Bug</div>
    <div class="card">
        <div class="flex-auto w-full shadow-5 p-4 border-round-xl border-2 border-dashed surface-border ">

            <span class="p-float-label">
                <input id="float-input" type="text" placeholder="Search a Solution..." pInputText />
            </span>

        </div>

        <div class="flex-auto w-full shadow-5 mt-4 p-4 border-round-xl border-2 border-dashed surface-border ">

            <div class="container">
                <div class="row ">


                    <div class="grid gap-3 ">
                        
                        <div *ngFor="let bug of listBugs"  class="col-12 md:col-6 lg:col-4">
                        
                            <div class="bug_container" >
                                <div class="img_container" >
                                    <img [src]="bug.bugImgUrl" />
                                </div>
                                <div class="content_container" >
                                    <div style="height: 100%; width: 100%;" >
                                        <div style="height: 30%;" >
                                            <h1 style="width: fit-content" class="title-font text-lg font-lg text-gray-900 mb-3">{{ bug.title }}</h1>
                                        </div>
                                        <div style="height: 70%;" >
                                            <p style="overflow: hidden; text-overflow: ellipsis; font-size: 15px;">{{ bug.bugDesc }}</p>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        
                        </div>
                    </div>


                </div>
            </div>

            <!-- {{ this.listBugs | json }} -->


        </div>

    </div>
</div>