<div class="surface-card p-4 shadow-2 border-round">
    <div class="text-3xl font-medium text-900 mb-3">Manage Bugs</div>
    <!-- <div class="font-medium text-500 mb-3">Vivamus id nisl interdum, blandit augue sit amet, eleifend mi.</div> -->
    <div style="height: fit-content" class="border-2 border-dashed surface-border">


        <div class="card">
            <div class="card-container cyan-container inline-flex">

                <form [formGroup]="formGroup" class="card flex flex-wrap gap-3 p-4 ">

                    <div class="flex-auto w-full shadow-5 p-4 border-round-xl border-2 border-dashed surface-border ">
                        <div class="text-2xl font-medium text-900 mb-3">Image :</div>
                        <img class="" id="Preview" width="200px" for="uploadImage" height="200px" alt="" accept="image/jpeg, image/png" style="object-fit: contain;" />
                        <input class="w-full" id="uploadImage" (change)="Preview($event)" type="file"  />
                    </div>

                    <div class="flex-auto w-full shadow-5 p-4 border-round-xl border-2 border-dashed surface-border ">
                        <div class="text-2xl font-medium text-900 mb-3">Title :</div>
                        <input pInputText formControlName="errorTitle_text" id="txtTitle" pKeyFilter="int"
                            class="w-full" />
                    </div>

                    <div class="flex-auto w-full shadow-5 p-4 border-round-xl border-2 border-dashed surface-border ">
                        <div class="text-2xl font-medium text-900 mb-3">Description :</div>
                        <div class="flex flex-column" >
                            
                            <textarea pKeyFilter="int" formControlName="errorDesc_text" rows="5" cols="90" maxlength="100" [autoResize]="false" pInputTextarea></textarea>
                            <span class="text-sm" >The maximum number of characters is 100</span>
                        </div>
                    </div>

                    <div class="flex-auto w-full shadow-5 p-4 border-round-xl border-2 border-dashed surface-border ">
                        <div class="text-2xl font-medium text-900 mb-3">Error Detail :</div>
                        <div>
                            <p-editor formControlName="errorDetail_text" [style]="{ height: '320px' }"></p-editor>
                        </div>
                    </div>
                    <div class="flex-auto w-full shadow-5 p-4 border-round-xl border-2 border-dashed surface-border ">
                        <div class="text-2xl font-medium text-900 mb-3">Error Solution :</div>
                        <div>
                            <p-editor formControlName="errorSolu_text" [style]="{ height: '320px' }"></p-editor>
                        </div>
                    </div>

                    <p-toast></p-toast>
                    <p-button [ngStyle]="{ 'display': EditMode ? 'none': 'inherit' }" (click)="Save()" class="shadow-5" label="Save" icon="pi pi-check"></p-button>
                    <p-button [ngStyle]="{ 'display': !EditMode ? 'none': 'inherit' }" (click)="Edit()" class="shadow-5" styleClass="p-button-warning" label="Edit" icon="pi pi-check"></p-button>
                    <p-button [ngStyle]="{ 'display': !EditMode ? 'none': 'inherit' }" label="cancel" styleClass="p-button-secondary"></p-button>


                </form>
            </div>
        </div>



    </div>
</div>