<div class="surface-card p-4 shadow-2 border-round">
    <div class="text-3xl font-medium text-900 mb-3">Manage Bugs</div>
    <!-- <div class="font-medium text-500 mb-3">Vivamus id nisl interdum, blandit augue sit amet, eleifend mi.</div> -->
    <div style="height: fit-content" class="border-2 border-dashed surface-border">


        <div class="card">
            <div class="card-container cyan-container inline-flex">

                <form [formGroup]="formGroup" class="card flex flex-wrap gap-3 p-4 ">
                    <div class="flex-auto w-full shadow-5 p-4 border-round-xl border-2 border-dashed surface-border ">
                        <div class="text-2xl font-medium text-900 mb-3">Title :</div>
                        <input pInputText formControlName="errorTitle_text" id="txtTitle" pKeyFilter="int"  class="w-full" />
                    </div>

                    <div class="flex-auto w-full shadow-5 p-4 border-round-xl border-2 border-dashed surface-border " >
                        <div class="text-2xl font-medium text-900 mb-3">Error Description :</div>
                        <div>
                            <p-editor formControlName="errorDesc_text" [style]="{ height: '320px' }"></p-editor>
                        </div>                    
                    </div>
                    <div class="flex-auto w-full shadow-5 p-4 border-round-xl border-2 border-dashed surface-border ">
                        <div class="text-2xl font-medium text-900 mb-3">Error Solution :</div>
                        <div>
                            <p-editor formControlName="errorSolu_text" [style]="{ height: '320px' }"></p-editor>
                        </div>                    
                    </div>

                    
                        <p-button (click)="Save()" class="shadow-5" label="Save" icon="pi pi-check"></p-button>
                    

                </form>
            </div>
        </div>



    </div>
</div>